.header-topbar {
  color: white;
  background-color: #1a1b49;
}
.header-navbar-home {
  z-index: 900;
  position: absolute;
  width: 100%;
  padding-top: 64px;
  background-color: rgba(255, 255, 255, 0.5);
  animation-duration: 1s;
  animation-name: fadeout;
}
.header-navbar {
  z-index: 900;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  animation-duration: 1s;
  animation-name: fadein;
}

.header-navbar-menu {
  margin-top: 5px;
  margin-bottom: 5px;
  list-style-type: none;
}
.header-navbar-item {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
}
.header-navbar-item a {
  text-decoration: none !important;
}

@keyframes fadeout {
  from {
    background-color: rgba(255, 255, 255, 1);
  }
  to {
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@keyframes fadein {
  from {
    background-color: rgba(255, 255, 255, 0.5);
  }
  to {
    background-color: rgba(255, 255, 255, 1);
  }
}
